.App {
  text-align: center;
}

body {
  background-image: url(./images/background.png)
}

.Mercúrio {
  width: 100px;
}

.Mercúrio:hover {
  width: 80px;
}

.Terra {
  width: 150px;
}

.Terra:hover {
  width: 130px;
}

.Urano {
  width: 130px;
}

.Urano:hover {
  width: 110px;
}
.Netuno {
  width: 100px;
}

.Netuno:hover {
  width: 80px;
}
.Saturno {
  width: 250px;
}

.Saturno:hover {
  width: 230px;
}
.Júpiter {
  width: 180px;
}

.Júpiter:hover {
  width: 160px;
}

.Marte {
  width: 100px;
}

.Marte:hover {
  width: 80px;
}

.Vênus {
  width: 100px;
}

.Vênus:hover {
  width: 80px;
}


